body{
	font-family:Iskoola Pota;
	margin:0 auto;
	width:auto;
}
#header{
	margin:0 auto;
	border-bottom: 1px solid black;
	height:15%;
	width:100%;
}
#wrapper{
	margin:0 auto;
	height:85%;
	width:100%;
}
.lista{
	padding:20;
	float:left;
	font-size:20;
}
.lista a{
	color:black;
	text-decoration:none;
	padding:10px;
}
.lista a:hover{
	
	color:grey;
}
.ikone{
	padding:15;
	float:right;
	
}
.ikone a img{
	width:50;
	height:50;
}
.naslov{
	font-size:0.75em;
	border-bottom: 0.16em solid black;
	padding:0.85em;
	margin:0.75em;
	height:3em;
	width:12em;
	float:left;
}
.forma{
	float:right;
	margin:0.25em !important;
	padding:0.75em !important;
	list-style-type: none;
	height:2.10em !important;
	font-size:1em !important;
}
#content{
	margin:0;
	padding:0;
	float:left;
}
#register{
	border:0.12em solid black;
	border-radius:1.15em;
	float:right;
	margin:2em !important;
	padding-left:3.15em !important;
	padding-bottom:2em;
	height:21em !important;
	width:16em !important;
}
.btn{
	margin:0.65em;
	background-color:#3D3C3A;
	border-radius:0.75em;
	height:2.15em;
	width:4.75em;
	color:white;
}
.btn1{
	background-color:#4863A0;
	border-radius:0.75em;
	height:3.15em;
	width:14em;
	color:white;
}
.btn2{
	background-color:#C24641;
	border-radius:0.75em;
	height:3.15em;
	width:14em;
	color:white;
}
#content{
	margin:0;
}
.sidebar{
	float:left;
	margin:0;
	padding:0;
	width:90;
	height:100%;
	border-right:1px solid grey;
}
.sidebar a img{
	margin:3;
	width:70;
	height:50;
	padding:10;
}
.table{
	margin-left:300;
	margin-top:400;
	border-collapse: collapse;
    border:1px solid grey;

}
.table tr:nth-child(even) {
	background-color: #f2f2f2;
	}
.table td{
	padding:10;
    text-align: center;
    width:110;
    height:50;
}
.first{
	background-color:grey;
	color:white;
}
.area1{
	border:1px solid grey;
	height:250;
	float:left;
	width:300;
	margin-left:100;
	margin-top:50;
	border-radius:15px;
}
.area2{
	border:1px solid grey;
	height:250;
	width:300;
	float:left;
	margin-left:50;
	margin-top:50;
	border-radius:15px;
}
.area3{
	border:1px solid grey;
	height:250;
	width:300;
	float:left;
	margin-left:50;
	margin-top:50;
	border-radius:15px;
}
/*-------------------Responsive---------------*/
@media (max-width: 640px) {
	
}
@media(min-width: 560px) {

}
@media(min-width: 480px) {

}
@media(min-width: 320px) {
.naslov{
	font-size:0.40em;
	padding:0.40em;
	margin:0.10em;
	height:2.95em;
	width:11.75em;
}
.forma{
	margin:0.15em;
	padding:0.25em;
	height:2em;
	font-size:0.80em;
}
.forma input{
	height:1.15em;
	margin:0;
	width:11.35em;
}
.forma input.btn{
	padding:0;
	height:1.55em;
	width:4.30em;
	border-radius:0.30em;
}
#register{
	margin:1.75em;
	padding-left:1.75em;
	height:20.50em;
	width:14em;
}
}
