body{
	font-family:Iskoola Pota;
	margin:0 auto;
	width:auto;
}
#all{
	width:100%;
	height:100%;
	margin:0 auto;
}
#header{
	margin:0 auto;
	border-bottom: 1px solid black;
	height:14%;
	width:100%;
}
#wrapper{
	margin:0;
	height:85%;
	width:100%;
}
.sidebar{
	float:left;
	margin:o;
	padding:0;
	width:5%;
	height:100%;
	border-right:1px solid grey;
}
.sidebar a img{
	margin:0.1em;
	width:3em;
	height:3em;
	padding:0.4em;
}
.etc{
	float:right;
	margin:0;
	width:94%;
	height:100%;
}
.lista{
	margin:0 auto;
	padding:0.75em;
	float:left;
	font-size:2em;
}
.lista a{
	color:black;
	text-decoration:none;
	padding:0.25em;
}
.lista a:hover{
	color:grey;
}
.ikone{
	padding:1em;
	float:right;
}
.ikone a img{
	width:3.3em;
	height:3.3em;
}
.naslov{
	font-size:0.75em !important;
	border-bottom: 0.16em solid black;
	padding:0.85em !important;
	margin:0.75em !important;
	height:3em !important;
	width:12em !important;
	float:left;
}
.forma{
	float:right;
	margin:0.25em !important;
	padding:0.75em !important;
	list-style-type: none;
	height:2.10em !important;
	font-size:1em !important;
}
.forma input{
	height:1.15em;
	margin:0;
	width:11.35em;
}
#content{
	margin:0;
	padding:0;
	float:left;
}
#register{
	border:0.12em solid black;
	border-radius:1.15em;
	float:right;
	margin:2em !important;
	padding-left:3.15em !important;
	padding-bottom:2em;
	height:21em !important;
	width:16em !important;
}
.btn{
	margin:0.65em !important;
	background-color:#3D3C3A;
	border-radius:0.75em !important;
	height:2.15em !important;
	width:4.75em !important;
	color:white;
}
.btn1{
	background-color:#4863A0;
	border-radius:0.75em;
	height:3.15em;
	width:14em;
	color:white;
}
.btn2{
	background-color:#C24641;
	border-radius:0.75em;
	height:3.15em;
	width:14em;
	color:white;
}
#content{
	margin:0;
}
.area1{
	border:0.16em solid grey;
	height:16em;
	float:left;
	width:18em;
	margin-left:6em;
	margin-top:2em;
	border-radius:1em;
}
.area2{
	border:0.16em solid grey;
	height:16em;
	float:left;
	width:18em;
	margin-left:3em;
	margin-top:2em;
	border-radius:1em;
}
.area3{
	border:0.16em solid grey;
	height:16em;
	float:left;
	width:18em;
	margin-left:3em;
	margin-top:2em;
	border-radius:1em;
}
.table{
	margin-left:13em;
	margin-top:19em;
	border-collapse: collapse;
    border:0.10em solid grey;
}
.table tr:nth-child(even) {
	background-color: #f2f2f2;
	}
.table td{
	padding:0.50em;
    text-align: center;
    width:7em;
    height:3.5em;
}
.first{
	background-color:grey;
	color:white;
}
/*-------------------Responsive---------------*/
@media(max-width: 1023px){
.lista{
	padding:0.50em;
	font-size:1.75em;
}
.ikone{
	padding:0.31em;
}
.sidebar a img{
	margin:0em;
	width:3em;
	height:3em;
	padding:0.1em;
}
.area1{
	height:12em;
	width:14em;
	margin-left:4em;
	margin-top:1.25em;
}
.area2{
	height:12em;
	width:14em;
	margin-left:2em;
	margin-top:1.25em;
}
.area3{
	height:12em;
	width:14em;
	margin-left:2em;
	margin-top:1.25em;
}
.table{
	margin-left:6em;
	margin-top:14em;
}
.table td{
	padding:0.40em;
    width:6em;
    height:2.8em;
}
}
@media (max-width: 854px) {
.ikone a img{
	width:3em;
	height:3em;
}
.sidebar a img{
	width:2.4em;
	height:2.4em;
	padding:0.2em;
}
.area1{
	height:10em;
	width:12em;
	margin-left:2em;
	margin-top:1em;
}
.area2{
	height:10em;
	width:12em;
	margin-left:2em;
	margin-top:1em;
}
.area3{
	height:10em;
	width:12em;
	margin-left:2em;
	margin-top:1em;
}
.table{
	margin-left:3em;
	margin-top:11.5em;
}
.table td{
	padding:0.30em;
    width:6em;
    height:2.8em;
}
	
}
@media(max-width: 720px) {
.sidebar a img{
	width:2.1em;
	height:2.1em;
	padding:0.1em;
}
.area1{
	height:10em;
	width:12em;
	margin-left:1.25em;
	margin-top:1em;
}
.area2{
	height:10em;
	width:12em;
	margin-left:1em;
	margin-top:1em;
}
.area3{
	height:10em;
	width:12em;
	margin-left:1em;
	margin-top:1em;
}
.table{
	margin-left:1em;
	margin-top:11.5em;
}
.table td{
	padding:0.30em;
    width:6em;
    height:2.8em;
}
}
@media(max-width: 640px) {
.sidebar a img{
	width:2em;
	height:2em;
	padding:0em;
}
.area1{
	height:10em;
	width:11em;
	margin-left:0.50em;
	margin-top:0.50em;
}
.area2{
	height:10em;
	width:11em;
	margin-left:0.50em;
	margin-top:0.50em;
}
.area3{
	height:10em;
	width:11em;
	margin-left:0.50em;
	margin-top:0.50em;
}
.table{
	margin-left:0em;
	margin-top:11em;
}
.table td{
    width:5.6em;
}
}
@media(max-width: 540px){
.sidebar a img{
	width:1.50em;
	height:1.50em;
}
.area1{
	height:10em;
	width:10em;
	margin-left:0.25em;
	margin-top:0.25em;
}
.area2{
	height:10em;
	width:10em;
	margin-left:0.25em;
	margin-top:0.25em;
}
.area3{
	height:10em;
	width:10em;
	margin-left:0.25em;
	margin-top:0.25em;
}
.table td{
    width:4.6em;
}
}
@media(max-width:480px){
.lista{
	padding:0.50em;
	font-size:1.50em;
}
.ikone{
	padding:0.28em;
}
.area1{
	height:9em;
	width:8.5em;
}
.area2{
	height:9em;
	width:8.5em;
}
.area3{
	height:9em;
	width:8.5em;
}
.table td{
    width:4.05em;
}
}
@media(max-width: 320px) {
.lista{
	padding:0em;
	font-size:1em;
}
.ikone{
	padding:0em;
}
.sidebar a img{
	width:1em;
	height:1em;
}
.area1{
	height:6em;
	width:5.7em;
}
.area2{
	height:6em;
	width:5.7em;
}
.area3{
	height:6em;
	width:5.7em;
}
.table{
	margin-left:0em;
	margin-top:10em;
}
.table td{
    width:3.51em;
    font-size:0.75em;
}
.naslov{
	font-size:0.40em;
	padding:0.40em;
	margin:0.10em;
	height:2.95em;
	width:11.75em;
}
.forma{
	margin:0.15em;
	padding:0.25em;
	height:2em;
	font-size:0.80em;
}
.forma input{
	height:1.15em;
	margin:0;
	width:11.35em;
}
.forma input.btn{
	padding:0;
	height:1.55em;
	width:4.30em;
	border-radius:0.30em;
}
#register{
	margin:1.75em;
	padding-left:1.75em;
	height:20.50em;
	width:14em;
}
} 
